.manage-question-container {
  #react-select-2-listbox {
    z-index: 100;
  }

  .add-question {
    .col-7 {
      width: 59%;
    }

    .quiz-title {
      font-size: 1.2rem;
    }

    .form-label {
      font-weight: 650;
    }

    .question-container {
      margin-top: 12px;

      h3 {
        font-size: 1.2rem;
      }

      .question-content {
        margin-top: 10px;
        display   : flex;
        gap       : 10px;

        .question-desc {
          width: 60%;
        }

        .question-image {
          width: 30%;

          .label-upload {
            display         : flex;
            align-items     : center;
            font-size       : 1.1rem;
            width           : 100%;
            background-color: #eeeeee;
            padding         : 5px 10px;
            border-radius   : 3px;


            &:hover {
              cursor          : pointer;
              background-color: #dcdcdc;
            }
          }

          .img-preview {
            display        : flex;
            justify-content: center;
            align-items    : center;
            height         : 100px;
            border         : 1px dashed #ccc;
            color          : #ccc;
            border-radius  : 3px;

            img {
              max-width : 100%;
              max-height: 100%;
              object-fit: cover;
            }
          }
        }

        .btn-add-remove {
          width  : 10%;
          padding: 15px;

          .icon-add {
            font-size   : 30px;
            color       : #2596ff;
            cursor      : pointer;
            margin-right: 10px;

            &:hover {
              color: #0989ff;
            }
          }

          .icon-minus {
            font-size: 30px;
            color    : #e8771c;
            cursor   : pointer;

            &:hover {
              color: #ff7608;
            }
          }
        }
      }

      .answer-content {
        margin-top : 10px;
        display    : flex;
        gap        : 10px;
        align-items: center;

        input.form-check-input {
          width : 25px;
          height: 25px;
        }

        .is-correct {}

        .answer-name {
          width: 56.5%;
        }

        .btn-group {
          width  : 10%;
          padding: 15px;

          .icon-add {
            font-size   : 30px;
            color       : #2596ff;
            cursor      : pointer;
            margin-right: 10px;

            &:hover {
              color: #0989ff;
            }
          }

          .icon-minus {
            font-size: 30px;
            color    : #e8771c;
            cursor   : pointer;

            &:hover {
              color: #ff7608;
            }
          }
        }
      }
    }
  }
}