body {
  overflow               : hidden;
  padding                : 0;
  margin                 : 0;
  box-sizing             : border-box;
  font-family            : apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.languages {
  .dropdown-toggle::after {
    display: none !important;
  }
}

.app-container {
  .header-container {
    .btn-sign-in {
      border-radius: 5px;
      border       : 1px solid #535353;
      margin-right : 15px;
      padding      : 0 15px;
      height       : 40px;
    }

    .btn-sign-up {
      margin-right    : 15px;
      border-radius   : 5px;
      padding         : 0 15px;
      background-color: #303030;
      color           : #fff;
      height          : 40px;
      border          : none;

      &:hover {
        background-color: black;
      }
    }

    .navbar {
      z-index         : 10;
      background-color: rgba(0, 0, 0, 0) !important;
      padding-top     : 20px;

      .nav-link {
        &.active {
          color      : #00bfff;
          font-weight: bold;
        }
      }
    }
  }

  .main-container {
    .app-content {
      height: calc(100vh - 60px);
    }
  }
}