body {
  overflow               : hidden;
  padding                : 0;
  margin                 : 0;
  box-sizing             : border-box;
  font-family            : apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition             : all linear 1s;
}


.languages {
  &.basic-nav-dropdown1 {
    height: 40px;
  }

  .dropdown-toggle::after {
    display: none !important;
  }
}

.app-container {
  .header-container {
    .navbar-brand {
      display    : flex;
      align-items: center;

      .brand-icon {
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

      span {
        margin-left: 10px;
      }
    }

    .btn-sign-in {
      border-radius: 5px;
      border       : 1px solid #535353;
      margin-right : 15px;
      padding      : 0 15px;
      height       : 40px;
    }

    .btn-sign-up {
      margin-right    : 15px;
      border-radius   : 5px;
      padding         : 0 15px;
      background-color: #303030;
      color           : #fff;
      height          : 40px;
      border          : none;

      &:hover {
        background-color: black;
      }
    }

    .navbar {
      z-index         : 10;
      background-color: rgba(0, 0, 0, 0) !important;
      padding-top     : 20px;

      .nav-link {
        border-radius: 3px;

        &.active {
          color      : #00bfff;
          font-weight: bold;
        }

        &:hover {
          transform       : scale(1.1);
          background-color: #00bfff;
          color           : white;
        }
      }
    }

    .item-dropdown {
      &:hover {
        background-color: #00bfff;
        color           : white;
      }
    }
  }

  .main-container {
    .app-content {
      height: calc(100vh - 60px);
    }
  }
}